body {
  margin: 0;
  background-color: rgb(241, 245, 248);
  color: rgb(113, 138, 162);
  text-align: center;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40rem;
}

.line {
  background-color: rgb(74,166,232);
  width: 7rem;
  height: 5px;
  margin-bottom: 2rem;
}

.text-color {
  color: rgb(17, 41, 66);
}

article {
  background-color: white;
  text-align: center;
  width: 40rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

img {
  padding-top: 15px;
  border-radius: 50%;
  height: auto;
  max-width: 9rem;
}

p {
  height: 70px;
  padding: 0 2rem;
}

.arrow {
  background-color: white;
  border: transparent;
  font-size: 2rem;
  padding: 0;
  margin: 0 10px;
}

.position-color,
.rndm-btn {
  color: rgb(72, 166, 232);
}

.rndm-btn {
  background-color: rgb(235, 246, 255);
  border: 0.1rem solid rgb(46,106,148);
  border-radius: 0.3rem;
  margin: 10px auto 20px auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  
}

.arrow:hover {
  cursor:pointer;
}

.rndm-btn:hover {
  cursor:pointer;
}
